/* flex-布局 */
.d-flex
  display flex
.flex-1
  flex 1
.f-d-col
  flex-direction column
.jc
  justify-content center
.aic
  align-items center

/* 文字布局 */
.text-cen
  text-align center
.text-left
  text-align left
.text-right
  text-align right

/* 大小 */
.w-auto
  width auto
.h100v
  height 100vh
.h100
  height 100%
.w300p
  width 3rem
.w500p
  width 5rem
.w700p
  width 7rem
.w800p
  width 8rem
.w900p
  width 9rem

/* 边距 */
.mar-bot-10
  margin-bottom 10px
.mar-bot-20
  margin-bottom 20px
.mar-top-10
  margin-top 10px
.mar-top-20
  margin-top 20px
.mar-tAb-5
  margin-top 5px
  margin-bottom 5px
.mar-tAb-10
  margin-top 10px
  margin-bottom 10px
.mar-tAb-20
  margin-top 20px
  margin-bottom 20px
.l-h-18
  line-height 25px
/* 通用布局 */
.overflow-h
  overflow hidden

/* 文字颜色 */
.font-red
  color red

/* 文字大小 */

.f12
  font-size .12rem
.f14
  font-size .14rem
.f16
  font-size .16rem
.f18
  font-size .18rem

/* 通用文字样式 */
.f12-gray
  font-size 12px
  color gray

/* 公共类名 */
.component-content
  size 100% 100%
  padding .25rem 0 .25rem .25rem
  overflow hidden
  .component-content-box
    size 100% 100%
    display: flex
    flex-direction: column
    .com-content-item
      flex 1
      overflow: auto
      h3
        margin .2rem 0 .2rem
        font-size 22px
.com-box
  // display: flex
  .box-card
    // width: 50%
    flex 1
.component-des-box
  font-size 16px
  color #000
  margin-bottom 20px
  .component-des
    font-size 20px
    color #000
    font-weight: 500
    margin-bottom 20px

.ul-li-mar-tAb-5,.ul-li-tb-5
  li
    margin 5px 0

// 模块样式
.module-box
  margin-top: 30px
  padding-bottom:20px
  border-bottom: 2px solid #DCDFE6
